
.img{
    width:300px;
    height:200px;
    margin:0px;
}

.testItem{
    border:1px solid #eeeeee;
    background:#ffffff;
    padding:20px;
    margin:0px auto 20px auto;
}
.title{
    font-size:20px;
    font-weight:bold;
    color:#337ab7;
}
.content{
    font-size:14px;
}
.currImg{
    width:100%;
    height:200px;
}
.bottom_right{
    bottom:0px;
    height:30px;
    position:absolute;
    right:10px;
    color:#337ab7;
}
.bottom_left{
    bottom:0px;
    height:30px;
    position:absolute;
    left:10px;
    color:#337ab7;
}
.list1_right{
    height:200px;
}
.advertiseImg{
    width:100%;
    margin-bottom:20px;
}


/*
-------------------------------------------------------详情样式------------------------------------------------------------------------
*/

.htmlResTitle{
    font-size:24px;
    color:#337ab7;
    text-align: center;
}

.htmlResDetail{
    background:#fff;
    padding:20px 20px;
}

.detailContent{
    img{
       max-width:100% !important;
    }

}


.demo0 {
    border-radius: 4px;
    background-color: rgb(240, 240, 232);
    position: relative;
    margin: 5px 3px 10px;
    width: 450px;
    height: 50px;
}
.demo0-block {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(130, 181, 198);
}