
.img{
    width:300px;
    height:200px;
    margin:0px;
}

.testItem{
    border:1px solid #eeeeee;
    background:#ffffff;
    padding:20px;
    margin:0px auto 20px auto;
    -moz-transform:  scale(0);
    -webkit-transform: scale(0);
    -o-transform:  scale(0);
}

.testItem:hover{
    .currImg{
        img{
            transform: scale(1.1);
        }
    }
}

.title{
    font-size:20px;
    font-weight:bold;
    color:#337ab7;
}
.content{
    font-size:14px;
}
.currImg{

    >div{
        height:200px;
        overflow: hidden;

        >img{
            transition: all 1.0s;
            -webkit-transition: all 1.0s;
            width:100%;
            height:100%;
        }
    }

}
.bottom_right{
    bottom:0px;
    height:30px;
    position:absolute;
    right:10px;
    color:#337ab7;
}
.bottom_left{
    bottom:0px;
    height:30px;
    position:absolute;
    left:10px;
    color:#337ab7;
}
.list1_right{
    height:200px;
}
.advertiseImg{
    width:100%;
    margin-bottom:20px;
}


/*
-------------------------------------------------------详情样式------------------------------------------------------------------------
*/

.htmlResTitle{
    font-size:24px;
    color:#337ab7;
    text-align: center;
}

.htmlResDetail{
    background:#fff;
    padding:20px 20px;
}

.detailContent{
    img{
       max-width:100% !important;
    }

}


@keyframes myfirst
{
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@-o-keyframes myfirst /* Opera */
{
    from {transform: scale(0);}
    to {transform: scale(1);}
}


