
.img{
    width:300px;
    height:200px;
    margin:0px;
}

.testItem{
    border:1px solid #eeeeee;
    background:#ffffff;
    padding:20px;
    margin:20px auto;
}
.title{
    font-size:20px;
    font-weight:bold;
    color:#337ab7;
}
.content{
    font-size:14px;
}
.currImg{
    width:100%;
    height:200px;
}
.bottom_right{
    bottom:0px;
    height:30px;
    position:absolute;
    right:10px;
    color:#337ab7;
}
.bottom_left{
    bottom:0px;
    height:30px;
    position:absolute;
    left:10px;
    color:#337ab7;
}
.list1_right{
    height:200px;
}
.advertiseImg{
    width:100%;
    margin-bottom:20px;
}
.right{
    margin-top:20px;
    padding:20px;
    background:#fff;
}