@import "../../style/var.scss";
.community{
  background:#fff;
   .scrollBanner{
      width:100%;
     margin-bottom:20px;
     img{
       width:100%;
     }
   }

  .modelList{
    >li{
      float:left;
      font-size:14px;
      padding:10px 20px;
      border:1px solid #e0e0e0;
      border-radius:40px;
      margin-right:20px;
      margin-bottom:20px;
      cursor: pointer;
    }
    li:hover{
      background:$commonMainColor;
      color:#fff;
    }

  }

  .mt-tabs-active{
    border-bottom: none;
    >a{
      color:#fff;
    }
    background: $commonMainColor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .communityList{
    border-top:1px solid $commonMainColor;
  }


  .modelTableOpear{
    .myTabs-header{
       li{

       }
    }
  }

  .myTabs{
    position:relative;
  }
  .publishBtn{
    position:absolute;
    right:0px;
    top:0px;
    width:80px;
    text-align: center;
    height:30px;
    background:$commonMainColor;
    color:#fff;
    line-height: 30px;
    cursor: pointer;
  }

}

.publishArticle{
  .nomal{
    width:50%;
    margin:auto;
  }
  .publishInput{
    >div:nth-child(1){
      float:left;
      width:10%;
    }
    >div:nth-child(2){
      float:left;

      width:90%;
    }
  }

  .editor{
    margin-bottom:10px;
  }

}