@charset "UTF-8";
/* -------------CSS 格式化------------ */
body{ overflow-x:hidden;position:relative; background-color: #F5F5F5;width:100%;height:100%;}



/*小图标*/
.ico{ display: inline-block; width: 30px; height: 30px; overflow: hidden; vertical-align: middle; background: url(./img/icons.png) no-repeat;}
.ico-basic{ background-position: 0 0;}
.ico-yed{ background-position: 0 -30px;}
.ico-map{ background-position: 0 -60px;}
.ico-kpi{ background-position: 0 -90px;}
.ico-action{ background-position: 0 -120px;}
.ico-recruit { background-position: 0 -150px;}
.ico-bidding{ background-position: 0 -180px;}
.ico-property{ background-position: 0 -210px;}

.mtop60{ margin-top: 60px;}
.contents{ padding: 20px;}
.contents h1{ margin-left: 20px;}
.contents p{ margin: 8px 0; color: #666;}


.right{
    margin-bottom:20px;
    padding:20px;
    background:#fff;
}

.none{
    display:none;
}


.t-align{
    text-align: center;
}

.sexCls{
    margin-top:25px;
}



