.right_readerNum{
    margin-bottom:20px;
    padding:20px;
    background:#fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
   >div:nth-child(1){
      font-size:16px;
      color:#4a89dc;
      margin-bottom:10px;
   }
   >a{
     display:block;
     color:#666666;
     line-height:28px;
     padding-left:10px;
     cursor: pointer;
     text-decoration: none;
   }
  >a:hover{
    color:#4a89dc;
  }
}

.right_recommend{
  margin-bottom:20px;
  padding:20px;
  background:#fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  >div:nth-child(1){
    font-size:16px;
    color:#4a89dc;
    margin-bottom:10px;
  }
  .promit{
    color: #666666;
  }
  a:hover{
    color:#4a89dc;
  }
  a{
    border-top: 1px solid #cccccc;
    display:block;
    padding: 10px 0px;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    cursor: pointer;
    img{
      width:70px;
      height:60px;
    }
  }


  .right_img{
    float:left;
    max-width:25%;
  }
  .right_content{
    float:left;
    width:70%;
    margin-left:15px;
  }


}