.login-box{
    position: fixed;
    z-index: 1000;
    width: 400px;
    min-height: 320px;
    background: white;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-160px;
    border-radius:8px;
    .top{
        text-align: center;
        font-size:20px;
        color:#fff;
        height:50px;
        line-height:50px;
        position:relative;
        a{
            position: absolute;
            width: 21px;
            height: 20px;
            right: 18px;
            top: 18px;
            cursor: pointer;
            background: url("../../img/ck_closebg.png") no-repeat 0 0;
        }
        .loginTitle{
            color:#00a5eb;
            float:left;
            font-size:18px;
            margin-left:10px;
            margin-bottom:0px;

        }
    }
    .content{
        padding:0px 20px 20px;
    }
}




.loginLine{
    margin-top:0px;
}

.login-box .top a:hover{
   background-position: 0px -20px;
}

.form-control{
    margin-top:20px;
}

.form-control input {
    width:80%;
    border:none;
    padding-left:20px;
    -webkit-box-shadow: 0 0 0px 1000px white inset
}

.form-control label {
    width:20%;
    text-align: right;
}
.login-Btn{
    width:100%;
    height:40px;
    line-height:40px;
    background:#00a5eb;
    margin-top:30px;
    color:#fff;
    font-size:16px;
    border-radius:4px;
}
.remember{
    margin-top:5px;
}
.remember input{
    vertical-align:-2px;
}
.error{
    text-align: right;
    padding-right:20px;
    padding-top:5px;
    color:red;
    font-size:12px;
}

.loginFail{
    font-size:12px;
    text-align: center;
    margin-top:5px;
    color:red;
}

/*
  ------------------------------------------------- 注册样式-----------------------------------------------------------------------------------------------
*/

.register{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

.reTitle{
    text-align: center;
    font-size:18px;
    font-weight: bold;
}

.label-right{
    text-align: right;
    margin-top:25px;
}

.mrgin_25{
    margin-top:25px;
}


.regist-Btn{
    width:35%;
    height:40px;
    line-height:40px;
    background:#005387;
    color:#fff;
    font-size:16px;
    margin:40px auto;
    border-radius:4px;
}

.reError{
    font-size:12px;
    text-align: left;
    color:red;
}

.registSuccessImg{
    margin:100px auto 50px auto;
}
.toOtherPromit{
    font-size:25px;
    margin-bottom:100px;
}
.registEror{
    font-size:12px;
    color:red;
    text-align: center;
    margin-top:10px;
}
