.navbar{
    position:fixed;
    top:0px;
    width:100%;
    z-index:1000;
    background:#005387;
    margin-bottom: 0px;
    border:none;
}

.navbar a:hover {
    color: #fdd922 !important;
}

.navbar li .active {
    color: #fdd922 !important;
    background: #003454 !important;
}

.loginBtn{
    line-height:50px;
    color:#eeeeee;
}
.loginBtn a{
    color:#eeeeee;
    cursor: pointer;
}

.loading_div{
    text-align:center;
    img{
        width:50px;
        height:50px;
    }
}
