.navbar{
    position:fixed;
    top:0px;
    width:100%;
    z-index:1000;
    margin-bottom: 0px;
    border:none;
    background: url("../../img/nv.png") no-repeat 0 0;
    background-size:100% 100%;
}

.navbar-inverse .navbar-nav>li>a {
    color:#fff;
    font-size:15px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar a:hover {
    color: #fdd922 !important;
}

.navbar li .active {
    color: #fdd922 !important;
    background: #003454 !important;
}

.loginBtn{
    line-height:50px;
    color:#fff;
}
.loginBtn a{
    color:#fff;
    cursor: pointer;
}

.loading_div{
    text-align:center;
    img{
        width:50px;
        height:50px;
    }
}
